.fontnew {
	font-family: Arial, Helvetica, sans-serif;
}

.myImg:hover {
	cursor: pointer;
}

.testimonial-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
